@import url('https://fonts.googleapis.com/css?family=Sans-Neue');

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: 'Sans-Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://i1.sndcdn.com/artworks-yTaaMUZ4w4B13zWj-ygxPdw-t1080x1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px -400px;
  min-height: 100vh;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
